.ContEntradaCreada {
    display: flex;
}

.FormCrear {
    display: grid;
    margin: 0 5rem 0 5rem;
    padding: 2rem;
    background-color: rgba(96, 32, 142, 0.658);
    font-size: 140%;
}

.InputDiv input {
    color: white !important;
}